body {
    font-family: sans-serif;
}

nav {
    width: 100%;
    height: 60px;
    background: #344051;
}

.logo {
    color: #fff;
    font-size: 20px;
    line-height: 60px;
    padding-left: 388px;
    float: left;
}

.menu {
    float: left;
    padding-left: 432px;
}

.menu ul li {
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
}

.main {
    width: 100%;
    height: 70%;
    background: url(../img/boy.png) 90% 100%/auto no-repeat, url(../img/bg.png) center/cover no-repeat;
}

.title_container {
    float: left;
    margin: 432px 0px 0px 404px;
    color: #2c384a;
    text-align: center;

}

.title_container h1 {
    font-size: 60px;
    font-weight: bold;
}

.title_container h4 {
    margin-top: 40px;
    font-size: 22px;
    color: 79818d;
}

.title_container input {
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 4px 16px;
    margin-top: 40px;
}


.About_me h2 {
    font-size: 40px;
    font-weight: bold;
    font: sans-serif;
    color: #263244;
    margin-top: 60px;
    margin: 10px 0px 0px 650px;
}


.About_me {
    background: url(../img/boy_circle.png) 60% 50%/auto no-repeat;
    width: 75%;
    height: 35%;
}


.Personal_info {
    font-size: 20px;
    font-weight: lighter;
    font: sans-serif;
    color: #3f495a;
    margin: 280px 0px 0px 280px;
    text-align: center;
    line-height: 1.5;

}

.About_me input {
    margin: 286px 0px 0px 650px;
    text-align: center;
    background: none;
    border-radius: 10px;
    font-size: 17px;
    padding: 4px 16px;
    margin-top: 40px;
    font-weight: bold;
    border: 3px solid #79808c;
    font: sans-serif;
    color: #79808c;
    letter-spacing: 1.5px;
}


.WhatCanIDo {
    background: url(../img/wcid_bg.png) center/cover no-repeat;
    height: 50%;
    width: 100%;
}

.WhatCanIDo h2{
    font-size: 40px;
    font-weight: bold;
    font: sans-serif;
    color: #3f495a;
    margin: 180px 0px 0px 640px;
}
.webdesign h4{
    font-size: 20px;
    font-weight: bold;
    font: sans-serif;
    color: #3f495a;
    margin: 220px 0px 0px 200px;
}
.webdesign span{
    font-size: 15px;
    font-weight: 500;
    font: sans-serif;
    color: 3f495a;
    margin: 30px 0px 0px 30px;
    overflow-wrap: anywhere;
    white-space: pre-wrap;
}
.development h4{
    font-size: 20px;
    font-weight: bold;
    font: sans-serif;
    color: #3f495a;
    margin: -40px 0px 0px 600px;
}
.development span{
    font-size: 15px;
    font-weight: 500;
    font: sans-serif;
    color: 3f495a;
    margin: 60px 0px 0px 430px;
    overflow-wrap: anywhere;
    white-space: pre-wrap;
}
.optimisation h4{
    font-size: 20px;
    font-weight: bold;
    font: sans-serif;
    color: #3f495a;
    margin: -40px 0px 0px 1000px;
}
.optimisation span{
    font-size: 15px;
    font-weight: 500;
    font: sans-serif;
    color: 3f495a;
    margin: 60px 0px 0px 830px;
    overflow-wrap: anywhere;
    white-space: pre-wrap;
}
.marketing h4{
    font-size: 20px;
    font-weight: bold;
    font: sans-serif;
    color: #3f495a;
    margin: -40px 0px 0px 1400px;
}
.marketing span{
    font-size: 15px;
    font-weight: 500;
    font: sans-serif;
    color: 3f495a;
    margin: 60px 0px 0px 1230px;
    overflow-wrap: anywhere;
    white-space: pre-wrap;
}